ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.searchContainer {
  padding: 0 10px;
  box-sizing: border-box;
  color: #333;
  background: #fff;
}
.searchContainer .searchTop {
  width: 100%;
  margin-top: 10px;
}
.searchContainer .searchTop .searchInput {
  position: relative;
  width: 100%;
  height: 30px;
}
.searchContainer .searchTop .searchInput input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  border-radius: 15px;
  background: #f2f2f2;
  padding: 0 30px;
  font-size: 14px;
  box-sizing: border-box;
}
.searchContainer .searchTop .searchInput input::-webkit-input-placeholder {
  color: #ccc;
}
.searchContainer .searchTop .searchInput .searchIcon {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 15px;
  height: 15px;
}
.searchContainer .searchTop .searchInput .searchIcon .icon-search {
  font-size: 20px;
  color: #ccc;
}
.searchContainer .searchTop .searchInput .cancelInput {
  position: absolute;
  top: 2px;
  right: 10px;
  width: 15px;
  height: 15px;
}
.searchContainer .searchTop .searchInput .cancelInput .icon-chacha1 {
  font-size: 16px;
  color: #ccc;
}
.searchContainer .searchTop .searchInput .cancelInput .icon-chacha1.showDel {
  display: inline-block;
}
.searchContainer .list {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.searchContainer .list a {
  font-size: 15px;
  color: #507daf;
  height: 40px;
  line-height: 40px;
}
.searchContainer .otherList {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}
.searchContainer .otherList .hotSearch h2 {
  font-size: 12px;
  color: #666;
}
.searchContainer .otherList .hotSearch .hotList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 10px;
}
.searchContainer .otherList .hotSearch .hotList .hotItem {
  height: 30px;
  width: auto;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  margin: 0 10px 10px 0;
  padding: 0 10px;
}
.searchContainer .otherList .hotSearch .hotList .hotItem a {
  font-size: 15px;
  color: #333;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.searchContainer .otherList .searchRecords .recordItem {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.searchContainer .otherList .searchRecords .recordItem a {
  display: inline-block;
  width: 300px;
  color: #333;
}
.searchContainer .otherList .searchRecords .recordItem .icon-shijian {
  font-size: 18px;
  color: #ccc;
  margin-right: 10px;
}
.searchContainer .otherList .searchRecords .recordItem .icon-chacha {
  font-size: 25px;
  color: #999;
  vertical-align: bottom;
}
